Repository MattiasKockum/NixWall: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, statix, deadnix, shellcheck, shfmt, markdownlint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # --- Nix formatting / linting ---
      - id: alejandra
        name: alejandra
        language: system
        entry: alejandra
        types: [nix]

      - id: statix
        name: statix
        language: system
        entry: statix
        args: ["check"]
        pass_filenames: false
        types: [nix]

      - id: deadnix
        name: deadnix
        language: system
        entry: deadnix
        args: ["--fail"]
        pass_filenames: false
        types: [nix]

      # --- Shell lint / format ---
      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        args: ["-e", "SC1091"]
        files: '(installer/scripts/.*\.sh$|\.sh$|nixwall-install$)'


      - id: shfmt
        name: shfmt
        language: system
        entry: shfmt
        args: ["-w"]
        files: '(installer/scripts/.*\.sh$|\.sh$|nixwall-install$)'

      # --- Markdown lint ---
      - id: markdownlint
        name: markdownlint
        language: system
        entry: markdownlint
        files: '\.(md|markdown)$'

      # --- JSON formatter ---
      - id: prettier
        name: prettier-json
        language: system
        entry: prettier
        args: ["--write"]
        files: '\.json$'

refactor(api nix code): decoupled nix code to parse the config.json, from nix code to package the api, from the actual python code
  api/nixwall_api/main.py
  api/pyproject.toml
  modules/api.nix
  pkgs/nixwall-api.nix
Due: alejandra, statix, deadnix

feat(api): Added security features into the API (TLS and auth)
  .pre-commit-config.yaml
  api/nixwall_api/main.py
  modules/api.nix
  modules/certs.nix
  modules/pam.nix
  pkgs/nixwall-api.nix
  profiles/default.nix
  tests/test-scripts/api.nix
  tests/test-scripts/certs.nix
Due: alejandra, statix, deadnix

fix(tests): Removed the offline build test, added the certs test to the flake.
  flake.nix
Due: alejandra, statix, deadnix

refactor: rewrite the API from python to rust
  .gitignore
  .pre-commit-config.yaml
  api/Cargo.lock
  api/Cargo.toml
  api/nixwall_api/main.py
  api/pyproject.toml
  api/src/main.rs
  flake.lock
  flake.nix
  modules/appliance/api.nix
  pkgs/nixwall-api.nix
Due: alejandra, statix, deadnix

feat: Add ISO installer
  .gitignore
  flake.nix
  installer/iso.nix
  installer/modules/greeter.nix
  installer/modules/service-flake-copy.nix
  installer/nixos/config.json
  installer/nixos/configuration.nix
  installer/nixos/disko.nix
  installer/nixos/flake.lock
  installer/nixos/flake.nix
  installer/scripts/default.nix
  installer/scripts/functions/confirm.sh
  installer/scripts/functions/install.sh
  installer/scripts/functions/run_disko.sh
  installer/scripts/lib/common.sh
  installer/scripts/nixwall-install
  modules/appliance/boot.nix
Due: alejandra, statix, deadnix, shellcheck, shfmt, prettier

feat: Add demo app.
  demo/client.nix
  demo/demo.sh
  flake.nix
  installer/iso.nix
Due: alejandra, statix, deadnix, shellcheck, shfmt

feat: add vim package in appliance mode.
  modules/appliance/packages.nix
  modules/nixwall.nix
Due: alejandra, statix, deadnix

fix: add flake support to appliance mode.
  installer/nixos/configuration.nix
Due: alejandra, statix, deadnix

chore: install flake update
  installer/nixos/flake.lock
Due: none

fix: bootloader issue
  installer/nixos/flake.lock
  modules/appliance/boot.nix
Due: alejandra, statix, deadnix

chore: installer flake update
  installer/nixos/flake.lock
Due: none

ci: add release workflow
  .github/workflows/release.yml
Due: none

chore: flake update
  .pre-commit-config.yaml
  flake.lock
Due: none

fix: add back the initialPassword in both installer and exemple config
  docs/exemple/config.toml
  installer/nixos/config.toml
Due: none

feat: introduce tokens and tickets to the API
  api/Cargo.lock
  api/Cargo.toml
  api/src/main.rs
  flake.nix
  modules/appliance/api.nix
  tests/test-scripts/integration/api.nix
Due: alejandra, statix, deadnix

refactor: splits main.rs into modules
  api/src/auth/basic_auth.rs
  api/src/auth/crypto.rs
  api/src/auth/handlers.rs
  api/src/auth/middleware.rs
  api/src/auth/mod.rs
  api/src/auth/principal.rs
  api/src/auth/ticket.rs
  api/src/auth/token.rs
  api/src/config.rs
  api/src/handlers/apply.rs
  api/src/handlers/config_file.rs
  api/src/handlers/git.rs
  api/src/handlers/interfaces.rs
  api/src/handlers/mod.rs
  api/src/main.rs
  api/src/router.rs
  api/src/state.rs
  api/src/util.rs
Due: none

feat(boot)!: support UEFI, drop BIOS
  installer/nixos/disko.nix
  modules/appliance/boot.nix
Due: alejandra, statix, deadnix

fix(network): configure interfaces without carrier
  modules/core/network.nix
Due: alejandra, statix, deadnix

feat(network): add DHCP client on selected zones
  modules/core/network.nix
Due: alejandra, statix, deadnix

feat(appliance): keep build deps in closure for offline rebuilds
  modules/appliance/offline.nix
  modules/nixwall.nix
Due: alejandra, statix, deadnix

feat(flake): add disko input and appliance-default configuration
  flake.lock
  flake.nix
Due: alejandra, statix, deadnix

feat(installer): generate installer flake lock from the main lock
  flake.nix
  installer/installer-flake.nix
  installer/nixos/configuration.nix
  installer/nixos/flake.lock
  installer/nixos/flake.nix
Due: alejandra, statix, deadnix

feat(installer): ship the full appliance closure in the ISO
  installer/iso.nix
Due: alejandra, statix, deadnix

feat(demo): update demo to use UEFI
  demo/demo.sh
Due: shellcheck, shfmt

feat(installer)!: install offline by default
  installer/scripts/functions/install.sh
  installer/scripts/functions/run_disko.sh
  installer/scripts/lib/common.sh
  installer/scripts/nixwall-install
Due: shellcheck, shfmt

fix(boot): declare grub device as nodev, boot test VMs in UEFI
  modules/appliance/boot.nix
  tests/vms/firewall.nix
Due: alejandra, statix, deadnix

fix(api): clippy lints
  api/src/auth/crypto.rs
  api/src/auth/mod.rs
  api/src/auth/principal.rs
  api/src/auth/ticket.rs
Due: none

feat(appliance): set vim as the default editor
  modules/appliance/packages.nix
Due: alejandra, statix, deadnix

relicense: GPL-3.0 -> AGPL-3.0-only
  LICENSE
  README.md
  api/Cargo.toml
  pkgs/nixwall-api.nix
Due: alejandra, statix, deadnix, markdownlint
